<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.MemberMapper"><!-- Mapper가있는 패키지를 적어줘야한다. xml이 메퍼파일(인터페이스)를 찾아갈수 있도록 -->
  <!-- 아이디 중복 체크 -->
  <select id="registerCheck" resultType="kr.board.entity.Member">
    select * from mem_tbl where memID=#{memID}
  </select>
  <!--  회원정보 등록 -->
  <insert id="register" parameterType="kr.board.entity.Member">
     insert into
     mem_tbl(memID,memPassword,memName,memAge,memGender,memEmail,memProfile)
     values(#{memID},#{memPassword},#{memName},#{memAge},#{memGender},#{memEmail},#{memProfile})
  </insert>
  <!-- 로그인 -->
  <select id="memLogin" parameterType="kr.board.entity.Member" resultType="kr.board.entity.Member">
    select * from mem_tbl 
    where memID=#{memID} and memPassword=#{memPassword}
  </select>
  <!-- 회원정보 수정 -->
  <update id="memUpdate" parameterType="kr.board.entity.Member">
     update mem_tbl set memPassword=#{memPassword}, memName=#{memName}, 
            memAge=#{memAge},memGender=#{memGender},memEmail=#{memEmail} 
     where memID=#{memID}      
  </update>
  <!-- 회원정보 가져오기 -->
  <select id="getMember" resultType="kr.board.entity.Member">
     select * from mem_tbl where memID=#{memID}
  </select> 
  <!-- 이미지정보 저장 -->
  <update id="memProfileUpdate" parameterType="kr.board.entity.Member">
     update mem_tbl set memProfile=#{memProfile} where memID=#{memID}
  </update>
 
</mapper>